*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

li{
    
    
    font-size: 20;
    
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    background-color: black;
}

.logo1{
    cursor: pointer;
    margin-left: 11%;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding:10px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    margin: 15px;
    color: #888888;
    font-size: 16px;
    padding: 10px;
}
.cta{
    position: relative;
}

.nav_links li a:hover{
    color: #edf0f1;
}

.cta button{
    padding: 9px 25px;
    cursor: pointer;
    transition:all 0.3s ease 0s ;
    
}

.cta button:hover{
    background-color: #44d62c;
}

.buyheader{
    display: flex;
    justify-content:space-between;
    padding: 0%;
    margin: 0%;
}

.Buybutton {
    
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 11px;
    
}
.Buybutton {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: larger;
    font-weight: 650;
    border: 10px  black;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    background-color:#44d62c;
    
}

.txt1{
    margin-left: 9%;
    color: #edf0f1;
    margin-top: 20px;
}

hr {
    width: 100%;
    height: 2px;
    background-color: rgb(0, 255, 60);
    padding: 1px;
}

.headerline{
       position: sticky;
       top:20px;
}  


.txtheader{
    margin-top: 15px;
    padding: 1.3%;
    text-align: center;
    color: #edf0f1;
    background-size:contain;
    background-color: #555555;

}
video{
    width: 100%; 
    height: fit-content;
}
.txtcontent{
    text-align: center;
}
.rb16{
    text-align: center;
    color: #edf0f1;
    margin-top: 45px;
    font-size:x-large;
}

.tagline{
    text-align: center;
    color: #44d62c;
    margin-top: 20px;
    font-size :330%;;
    font-style:bold;
    font-weight: bold;
}

.aboutcontent{
    text-align: center;
    color: #edf0f1;
}
.txtcontent1{
    text-align: center;
    font-weight: 700;
    font-size:x-large;
    margin: 2%;

}
.txtcontent2{
    font-size:large;
    color: #9a9a9a;
    justify-content: space-between;
}

.imagecontainer1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image1{
    margin-left: 15%;
    margin-right: 0%;
    padding-right: 5%;
}
.image2{
    padding-right: 5%;
}
.image3{
    padding-right: 5%;
}
.image4{
    margin-right: 15%;
    
}

.animationContent1{
   margin-left: 36%;
   margin-top: 300px;
   margin-bottom: 300px;
    
}
.image5 img{
   padding-left: 155px;
}
.txtcontent3{
    font-size: 40px;
    font-weight: bold;
    color: #44d62c;
}
.txtcontent4{
   padding: 10px;
   padding-left: 145px;
   font-size: x-large;
    color: #edf0f1;
}

.animationContent1 style {
    opacity: 0.9525;
}